<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link th:href="@{/css/login.css}" rel="stylesheet">

    <title>FreshCare</title>
  </head>
  <body>
    <div id="header">
      <h1>FreshCare</h1>
    </div>
    <div id="article">
      <div id="content">
        <p>세탁기 이용하기</p>
        <div id="inputContainer">
          <div id="washer">
            <div id="index">1</div>
            &nbsp;번 세탁기
          </div>
          <div class="inputBoxContainer">
            <div class="inputBoxContainerText">호수 입력</div>
            <div><input class="inputBox" id="roomNumberInput" type="text" placeholder="A000-1" /></div>
          </div>
          <div class="inputBoxContainer">
            <div class="inputBoxContainerText">간편 비밀번호 입력</div>
            <div><input class="inputBox" class="inputContainer" id="pwInput" type="password" /></div>
          </div>
          <div id="confirmButton">완료</div>
        </div>
        <p id="isFirst"><a href="#">서비스 이용이 처음이신가요?</a></p>
      </div>
    </div>
  </body>
</html>
