<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/api/userJoin" method="post" enctype="multipart/form-data">
    <div>
        <label for="USERROOM">USERROOM</label>
        <input type="text" id="USERROOM" name="USERROOM" placeholder="방번호를 입력하세요">
    </div>
    <div>
        <label for="USEREMAIL">USEREMAIL</label>
        <input type="text" id="USEREMAIL" name="USEREMAIL" placeholder="이메일을 입력하세요">
    </div>
    <div>
        <label for="USERPHONE">USERPHONE</label>
        <input type="text" id="USERPHONE" name="USERPHONE" placeholder="휴대폰번호를 입력하세요">
    </div>
    <div>
        <label for="USERPW">USERPW</label>
        <input type="text" id="USERPW" name="USERPW" placeholder="비밀번호를 입력하세요">
    </div>
    <button type="submit">등록</button>
</form>

</body>
</html>